<div class="row">
    <div class="gameField">
        <jhi-sudoku-board [newBoardSubject]="newBoardSubject" [solutionVisibleSubject]="solutionVisibleSubject"></jhi-sudoku-board>
    </div>
    <div class="menuField">
        <button type="submit" class="btn-lg btn btn-primary actionButton" (click)="generateNew(1)">
            Easy
        </button>
        <button type="submit" class="btn-lg btn btn-primary actionButton" (click)="generateNew(2)">
            Medium
        </button>
        <button type="submit" class="btn-lg btn btn-primary actionButton" (click)="generateNew(3)">
            Hard
        </button>
        <button type="submit" class="btn-lg btn btn-primary actionButton bottomButton" (click)="showSolution()">
            Solution
        </button>
    </div>
</div>
