<div>
    <h2>
        <span>Sudoku Cell Entities</span>
        <button class="btn btn-primary float-right jh-create-entity create-sudoku-cell-entity" [routerLink]="['/', { outlets: { popup: ['sudoku-cell-entity-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Sudoku Cell Entity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sudokuCellEntities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>User Id</span></th>
            <th><span>Value</span></th>
            <th><span>Solution</span></th>
            <th><span>Row Number</span></th>
            <th><span>Column Number</span></th>
            <th><span>Draft Number</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sudokuCellEntity of sudokuCellEntities ;trackBy: trackId">
                <td><a [routerLink]="['../sudoku-cell-entity', sudokuCellEntity.id ]">{{sudokuCellEntity.id}}</a></td>
                <td>{{sudokuCellEntity.userId}}</td>
                <td>{{sudokuCellEntity.value}}</td>
                <td>{{sudokuCellEntity.solution}}</td>
                <td>{{sudokuCellEntity.rowNumber}}</td>
                <td>{{sudokuCellEntity.columnNumber}}</td>
                <td>{{sudokuCellEntity.draftNumber}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sudoku-cell-entity', sudokuCellEntity.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sudoku-cell-entity/'+ sudokuCellEntity.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sudoku-cell-entity/'+ sudokuCellEntity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
