<div class="row">
    <div class="col-md-2 gameMenu">
        <button type="submit" class="btn-lg btn btn-dark gameButton" (click)="selectGame('Sudoku')">
            Sudoku
        </button>
        <button type="submit" class="btn-lg btn btn-dark gameButton" (click)="selectGame('RPS')">
            RPS
        </button>
    </div>
    <div class="col-md-9 streacher" [ngSwitch]="selectedGame">
        <div *ngSwitchCase="'Sudoku'">
            <div class="gameContainer solidLeftBorder">
                <jhi-sudoku-game></jhi-sudoku-game>
            </div>
        </div>
        <div *ngSwitchCase="'RPS'">
            <div class="gameContainer solidLeftBorder">
                <jhi-rps-game></jhi-rps-game>
            </div>
        </div>
        <div *ngSwitchCase="'none'">
            <div class="gameContainer text-center welcomeScreen solidLeftBorder">
                <h1>Welcome to Games Portal</h1>
                <p>Select the game and enjoy !</p>
            </div>
        </div>
    </div>
</div>
